/*
* Donald Ty Lam 2016
*/

#hometiles{
    width: 100%;
    font-size: 800%;
    text-align: center;
}

img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.face {
    /*display: inline;*/
    margin: auto auto;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 0;
    right: 0;
    /*float: right;*/
    overflow: hidden;
    border-radius: 50%;
}

h3{
    margin-top: 25%;
    color: midnightblue;
}

footer{
    margin-bottom: 2%;
    text-align: center;
}

a{
    text-decoration: none !important;    
}

a:link {
    color: inherit;
}

a:visited {
    color: darkgrey;
}

a:hover {
    color: chocolate;
}

a:active {
    color: inherit;
}

.fadeIn{
  color: black;
  animation-name: fadeIn;
}
.t4s{
  animation-duration: 4s;
}
.t8s{
  animation-duration: 8s;
}
.t12s{
  animation-duration: 12s;
}
@keyframes fadeIn {
    from {color: white;}
    to {color: black;}
}
