/* Reset styles
-------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom styles
-------------------------------------------- */
* {
  box-sizing: border-box;
} */

html, body {
  background: #f5e3c8;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 20px;
  color: #9B9B9B;
  letter-spacing: -.06em;
  font-weight: 100;
  text-indent: 5px;
}

p.left-lean {
  text-align: left;
  overflow: auto;
  background: inherit;
}

p.right-lean {
  /* float: right; */
  text-align: right;
  overflow: auto;
  background: inherit;
}

#bgvid {
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.title-banner {
  font-weight:100; 
  background: #f5e3c8;
  color: white;
  width: 100%;
  margin:0;
  padding: 2%;
  /* float: left; */
  font-size: 1.2rem;
}

.title-banner #ac-logo {
  width: 85%;
  float: left;
}

.title-banner .col-1-2 > h2 {
  color: #666;
  text-align: right;
  line-height: 1.5;
  white-space: nowrap;
}

.outer-wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.inner-wrapper {
  margin: 0 auto;
  max-width: 1170px;
  box-shadow: 0 15px 75px rgba(0,0,0,.25);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.inner-wrapper > div {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.row:after {
  clear: both;
  display: table;
  content: ' ';
}

[class*='col-'] { float: left; }

.col-1-2 { width: 50%; }
.col-1-3 { width: 33.3%; }
.col-2-3 { width: 66.6%; }
.col-1-4 { width: 25%; }

.team {
  background: #f5e3c8;
}

.team .col-1-4 > img {
  object-fit: cover;
  width: 100%;
  height: 170px;
  display: block;
  overflow: hidden;
}

.team .col-1-3 {
  text-align: center;
}

.team .col-1-3 > .desc-img {
  width: 100%;
}

.team .col-2-3 > p {
  font-size: 20px;
  text-align: right;
}

.links .col-1-4 > a {
  position: relative;
  display: block;
  height: 150px;
  text-align: center;
  transition: all 200ms;
}

.links .col-1-4 > a:hover {
  box-shadow: 0 5px 20px rgba(0,0,0,.15);
}

.links .col-1-4 > a img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.7);
  max-height: 50%; 
  width: auto;
  position: absolute;
  display: inline-block;
  transition: all 200ms;
}

.links .col-1-4 > a.facebook { background-color: #485a96; }
/* .links .col-1-4 > a.project-openplay:hover { background-color: rgba(74,144,226,1); z-index: 1; } */

.links .col-1-4 > a.messenger { background-color: #0084ff; }
/* .links .col-1-4 > a.project-constitucional:hover { background-color: rgba(255,191,0,1); z-index: 1; } */

.links .col-1-4 > a.email { background-color: #e5483a; }
/* .links .col-1-4 > a.project-bettween:hover { background-color: rgba(40,59,77,1); z-index: 1; } */

.links .col-1-4 > a.phone { background-color: #25d366; }
/* .links .col-1-4 > a.project-cdx:hover { background-color: rgba(13,219,154,1); z-index: 1; } */

.footer {
  background: #f5e3c8;
  color: #666;
  font-size: 14px;
  padding-top: 8px;
}

.footer .col-1-2 {
  background: inherit;
  padding: 0px 4px 4px 8px;
}

/* Media Queries
-------------------------------------------- */
/* desktop */
/* @media screen and (max-width: 1170px), screen and (max-height: 800px) {
  
} */

/* phones */
@media screen and (max-width: 1080px) {
  
  .title-banner .col-1-2 { 
    /* float: none; */
    width: 100%; 
    margin-top: 8px; 
  }

  .team .col-1-3 {
    float: none;
    width: 100%;
  }

  .team .col-1-3 > .desc-img {
    width: 50%;
    text-align: center;
  }

  .team .col-2-3 {
    float: none;
    width: 100%;
  }

  .team .col-2-3 > p {
    text-align: center;
    white-space: nowrap;
  }

  .links .col-1-4 {
    float: left;
    width: 50%;
  }
  .links .col-1-4 > a { height: 110px; }
  /* .links .col-1-4 > a img { transform: translate(-50%, -50%) scale(.55); } */

  .footer .col-1-2 { 
    float: none;
    width: 100%; 
  }
  .footer .col-1-2 > p {
  text-align: center;
  }
}