/*
* Donald Ty Lam 2018
*/

body {
    margin: 4% 8%;
}

div {
    text-align: center;
}

div.title {
    text-align: left;
}

div.pure-g {
    margin: 3rem 0;
}

img {
    width: 80%;
    max-width: 6rem;
    margin: auto;
}

#face {
    border-radius: 50%;
    max-width: 9rem;
}

h1 {
    font-size: 175%;
}

h3 {
    color: dimgrey;
}

footer {
    margin-bottom: 2%;
    text-align: center;
}

a {
    margin: auto;
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: dimgrey;
}

a:hover {
    color: chocolate;
}

a:active {
    color: inherit;
}

hr {
    margin: 36px 0;
}

.fadeIn {
    color: black;
    animation-name: fadeIn;
}

.t4s {
    animation-duration: 4s;
}

.t8s {
    animation-duration: 8s;
}

.t12s {
    animation-duration: 12s;
}

@keyframes fadeIn {
    from {
        color: white;
    }
    to {
        color: black;
    }
}