<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>TfL Telescope</title>
    <!-- Vue.js development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Vue.js production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- Roboto and Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <!-- Vue Material CSS -->
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <!-- Vue Material JS -->
    <script src="https://unpkg.com/vue-material@beta"></script>
    <!-- My own CSS -->
    <link rel="stylesheet" href="my.css">
    <!-- Web app manifest -->
    <link rel="manifest" href="manifest.webmanifest">
    <!-- favicon -->
    <link rel="icon" href="img/tflclock96.png">
</head>


<body>
    <div id="app">
        <!-- Top Bar -->
        <md-toolbar id="top-bar">
            <h3 class="md-title" style="flex: 1">TfL Telescope</h3>
            <md-button href="https://buymeacoff.ee/dtylam" target="_blank" class="md-icon-button">
                <md-icon>favorite_border</md-icon>
            </md-button>
            <span>  |  </span>
            <md-button @click="vehicleIdQuery()" class="md-icon-button">
                <md-icon>refresh</md-icon>
            </md-button>
        </md-toolbar>
        <!-- Middle Page -->
        <div id="page">
            <!-- vehicleIdView -->
            <div v-if="focus == 0" id="vehicleIdView">
                <md-field md-clearable>
                    <md-icon>search</md-icon>
                    <label>Vehicle ID</label>
                    <md-input v-model="vehicleIdView.enteredId" maxlength="7"></md-input>
                    <!-- <span class="md-error">Vehicle ID is a required input</span> -->
                </md-field>
                <md-button @click="vehicleIdQuery()" class="md-raised md-primary fullwidth">Find</md-button>
                <div class="results md-scrollbar">
                    <div v-if="vehicleIdView.loading" class="spinner-host">
                        <md-progress-spinner class="md-accent my-spinner" md-mode="indeterminate"></md-progress-spinner>
                    </div>
                    <div v-else>
                        <md-card v-for="r in vehicleIdView.results">
                            <md-card-header>
                                <div class="md-title">{{r[0].vehicleId}}: {{r[0].currentLocation}}</div>
                                <div class="md-subheading md-primary">{{r[0].lineName}} Line towards {{r[0].towards}}</div>
                            </md-card-header>
                            <md-card-content>
                                <div v-for="e in r">
                                    <md-divider></md-divider>
                                    <p>{{e.stationName}}
                                        <span class="md-body-2" style="float: right;">{{timeConversion(e.timeToStation)}}</span>
                                        <br />
                                        <span class="md-caption">{{e.platformName}}</span></p>
                                </div>
                            </md-card-content>
                        </md-card>
                        <span v-if="vehicleIdView.error" class="md-error">API error.</span>
                    </div>
                </div>
            </div>
            <!-- stationView -->
            <!-- <div v-else-if="focus == 1" id="stationView">
                <md-autocomplete class="fullwidth" md-layout="box" v-model="lineView.selectedLine" :md-options="linesList.map(line => line.name)">
                    <label>Line</label>
                </md-autocomplete>
            </div> -->
            <!-- lineView -->
            <div v-else id="lineView">
                <md-autocomplete class="search-space" md-layout="box" v-model="lineView.selectedLine" :md-options="linesList.map(line => line.id)">
                    <label>Line</label>
                </md-autocomplete>
                <md-button @click="lineArrivalsQuery()" class="md-raised md-primary go-button">Load</md-button>
                <div class="results md-scrollbar">
                    <div v-if="lineView.loading">
                        <md-progress-spinner class="md-accent" md-mode="indeterminate"></md-progress-spinner>
                    </div>
                    <div v-else>
                        <md-card v-for="r in lineView.results">
                            <md-card-header>
                                <div class="md-title">{{r[0].vehicleId}}: {{r[0].currentLocation}}</div>
                                <div class="md-subheading">{{r[0].lineName}} Line towards {{r[0].towards}}</div>
                            </md-card-header>
                            <md-card-content>
                                <div v-for="e in r">
                                    <md-divider></md-divider>
                                    <p>{{e.stationName}}
                                        <span class="md-body-2" style="float: right;">{{timeConversion(e.timeToStation)}}</span>
                                        <br />
                                        <span class="md-caption">{{e.platformName}}</span></p>
                                </div>
                            </md-card-content>
                        </md-card>
                        <span v-if="lineView.error" class="md-error">API error.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar -->
        <md-bottom-bar id="bottom-bar">
            <md-bottom-bar-item @click="focus = 0" md-label="By Vehicle ID" md-icon="directions_subway"></md-bottom-bar-item>
            <!-- <md-bottom-bar-item @click="focus = 1" md-label="By Station" md-icon="departure_board"></md-bottom-bar-item> -->
            <md-bottom-bar-item @click="focus = 2" md-label="By Line" md-icon="line_weight"></md-bottom-bar-item>
        </md-bottom-bar>
    </div>

    <!-- Vue.js main logic -->
    <script>
        Vue.use(VueMaterial.default)
        var vm = new Vue({
            el: '#app',
            data: {
                // Focus: which view is chosen at bottom bar:
                // 0: by station; 1: by vehicleID; 2: by line
                focus: 0,
                linesList: [],
                // stationsList: [],
                // Views: the objects containing data for a view
                // stationView: {

                // },
                vehicleIdView: {
                    enteredId: "",
                    loading: false,
                    results: [],
                    error: false
                },
                lineView: {
                    selectedLine: "",
                    loading: false,
                    results: [],
                    error: false
                }
            },
            created: function () { this.getBasics() },
            methods: {
                getBasics: function () {
                    const API = "https://api.tfl.gov.uk/"
                    // Fetch tube lines info: https://api.tfl.gov.uk/Line/Mode/tube
                    fetch(API + "Line/Mode/tube", {
                        method: "get"
                    }).then(response => response.json())
                        .then(json => { this.linesList = json })
                },
                vehicleIdQuery: function () {
                    const API = "https://api.tfl.gov.uk/"
                    // show loading spinner
                    this.vehicleIdView.loading = true;
                    // fix vehicle ID if lower than 100
                    var len = this.vehicleIdView.enteredId.length;
                    if (len == 0) return
                    else if (len == 1) this.vehicleIdView.enteredId = "00" + this.vehicleIdView.enteredId
                    else if (len == 2) this.vehicleIdView.enteredId = "0" + this.vehicleIdView.enteredId
                    // Fetch vehicle status: /Vehicle/{ids}/Arrivals
                    fetch(API + "Vehicle/" + this.vehicleIdView.enteredId + "/Arrivals", {
                        method: "get"
                    }).then(response => response.json())
                        .then(json => {
                            var sorted = json.sort(function (r1, r2) {
                                // Ascending: first timeToStation less than second timeToStation
                                // if (r1.lineId === r2.lineId) 
                                return r1.timeToStation - r2.timeToStation;
                                // Ascending: first lineid less than second lineid
                                // return r1.lineId < r2.lineId ? -1 : r1.lineId > r2.lineId ? 1 : 0;
                            })
                            this.vehicleIdView.results = Object.values(this.groupBy(sorted, 'lineId'));
                            this.vehicleIdView.loading = false;
                            this.vehicleIdView.error = false;
                        }).catch(error => {
                            this.vehicleIdView.error = true;
                        });
                },
                lineArrivalsQuery: function () {
                    const API = "https://api.tfl.gov.uk/"
                    // show loading spinner
                    this.lineView.loading = true;
                    if (this.lineView.selectedLine == "") return
                    // Fetch line arrivals: /line/{line Id}/arrivals
                    fetch(API + "line/" + this.lineView.selectedLine + "/Arrivals", {
                        method: "get"
                    }).then(response => response.json())
                        .then(json => {
                            var sorted = json.sort(function (r1, r2) {
                                // Ascending: first timeToStation less than second timeToStation
                                if (r1.vehicleId === r2.vehicleId) return r1.timeToStation - r2.timeToStation;
                                // Ascending: first vehicleId less than second vehicleId
                                return r1.vehicleId - r2.vehicleId;
                            })
                            this.lineView.results = Object.values(this.groupBy(sorted, 'vehicleId'));;
                            this.lineView.loading = false;
                            this.vehicleIdView.error = false;
                        }).catch(error => {
                            this.lineView.error = true;
                        });
                },
                timeConversion: function (timeInSec) {
                    var min = Math.floor(timeInSec / 60);
                    var sec = timeInSec - min * 60;
                    if (min == 0) { return sec + "s" }
                    else {
                        // if (sec < 10) sec = "0" + sec
                        return min + "m " + sec + "s"
                    }
                },
                groupBy: function (xs, key) {
                    return xs.reduce(function (rv, x) {
                        (rv[x[key]] = rv[x[key]] || []).push(x);
                        return rv;
                    }, {});
                }
            }
        })
    </script>
</body>
<!-- https://api.tfl.gov.uk/ -->

</html>