#app{
    height:100vh;
}

#top-bar{
    position: fixed;
    top: 0px;
}

#page{
    position: fixed;
    top: 48px;
    padding: 24px 4vw;
    width: 100%;
    overflow: auto;
}

#bottom-bar{
    position: fixed;
    bottom: 0px;
}

.md-card{
    margin-bottom: 12px;
}

.results{
    max-height: 64vh;
    width: 100%;
    padding: 24px 0;
    overflow: auto;
}

.fullwidth{
    width: 100%;
}
